@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 230 60% 98%;  /* Light gray */
    --foreground: 230 60% 20%;
    --muted: 230 60% 90%;
    --muted-foreground: 230 60% 50%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 235 100% 40%;  /* Blue */
    --primary-foreground: 210 20% 98%;
    --secondary: 210 40% 99.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 40 100% 50%;  /* Orange */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
    --sidebar-background: 20 14.3% 95.1%;
    --sidebar-foreground: 20 7.1% 19.8%;
    --sidebar-primary: 222.2 47.4% 11.2%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 42.7 92.1% 58.3%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 230 30% 12%;  /* Dark gray */
    --foreground: 230 60% 80%;
    --muted: 220 4% 20%;
    --muted-foreground: 220 3% 50%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 30%;
    --input: 214.3 31.8% 30%;
    --primary: 235 100% 40%; /* Blue */
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --accent: 40 100% 50%; /* Orange */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 217.2 32.6% 27.5%;
    --radius: 0.5rem;
     --sidebar-background: 20 14.3% 15.1%;
    --sidebar-foreground: 20 7.1% 59.8%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222.2 47.4% 1.2%;
    --sidebar-accent: 42.7 92.1% 58.3%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 216 34% 17%;
    --sidebar-ring: 217.2 32.6% 27.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



